{%extends 'app_store/_Base.html'%}
{% load static %}
{%block main_content %}
    <!-- breadcrumb-area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 text-center">
                    <h2 class="breadcrumb-title">Về chúng tôi</h2>
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-list">
                        <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Về chúng tôi</li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end -->
    <!-- About section Start -->
    <div class="about-area pt-100px">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="about-wrapper text-center">
                        <div class="about-contant">
                            <h2 class="title">
                                <span>Mua sắm thông minh</span>
                            </h2>
                            <p>Nhiều chương trình ưu đãi đang đón chờ quý khách!</p>
                        </div>
                        <div class="promo-video">
                            <img src="{% static 'app_store/assets/images/hero/inner-img/hero-2-1.png' %}" alt="">
                            <a href="https://www.youtube.com/watch?v=qF1FMTT17tQ&ab_channel=D%26VPhilippines" class="venobox overlay-box" data-vbtype="video"><span
                                class="fa fa-play"><i class="ripple"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About section End -->
    <!-- Team Area Start -->
    <div class="team-area" style="margin: 100px !important">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2 class="title line-height-1">Thành viên đội dự án</h2>
                    </div>
                </div>
            </div>
            <div class="row mb-n-30px">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-lm-30px mb-lg-30px mb-md-30px">
                    <!-- Single Team -->
                    <div class="team-wrapper ">
                        <div class="team-image overflow-hidden">
                            <img src="{% static 'app_store/assets/images/team/gd1.jpg' %}" alt="">
                            <ul class="team-social d-flex">
                                <li>
                                    <a class="m-0" title="Twitter" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-facebook"
                                        aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a title="Tumblr" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-tumblr" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a title="Facebook" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a title="Instagram" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="team-inner">
                            <div class="team-content">
                                <h6 class="title">Anh Hưng</h6>
                                <span class="sub-title">Giám đốc</span>
                            </div>
                        </div>
                    </div>
                    <!-- Single Team -->
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-lm-30px mb-lg-30px mb-md-30px">
                    <!-- Single Team -->
                    <div class="team-wrapper">
                        <div class="team-image overflow-hidden">
                            <img src="{% static 'app_store/assets/images/team/gd2.jpg' %}" alt="">
                            <ul class="team-social d-flex">
                                <li>
                                    <a class="m-0" title="Twitter" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-facebook"
                                        aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a title="Tumblr" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-tumblr" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a title="Facebook" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a title="Instagram" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="team-inner">
                            <div class="team-content">
                                <h6 class="title">Chị Trang</h6>
                                <span class="sub-title">Phó giám đốc</span>
                            </div>
                        </div>
                    </div>
                    <!-- Single Team -->
                </div>
                <div class="col-xl-4 col-lg-4 col-sm-6 col-md-6 mb-lm-30px ">
                    <!-- Single Team -->
                    <div class="team-wrapper">
                        <div class="team-image overflow-hidden">
                            <img src="{% static 'app_store/assets/images/team/gd3.jpg' %}" alt="">
                            <ul class="team-social d-flex">
                                <li>
                                    <a class="m-0" title="Twitter" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-facebook"
                                        aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a title="Tumblr" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-tumblr" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a title="Facebook" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a title="Instagram" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="team-inner">
                            <div class="team-content">
                                <h6 class="title">Anh Trung</h6>
                                <span class="sub-title">Giám đốc kỹ thuật</span>
                            </div>
                        </div>
                    </div>
                    <!-- Single Team -->
                </div>
            </div>
        </div>
    </div>
    <!-- Team Area End -->
    <!-- Testimonial area start -->
    <div class="trstimonial-area pt-100px pb-100px" style="margin: 100px !important">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center m-0">
                        <h2 class="title">Phản hồi từ khách hàng</h2>
                        <p>Ý kiến của các bạn là kim chỉ nam cho hoạt động của chúng tôi.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- Swiper -->
                    <div class="swiper-container content-top slider-nav-style-1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="testi-inner">
                                    <div class="testi-content">
                                        <p>Mua hàng trên trang web này thật sự thuận tiện và nhanh chóng.
                                        </p>
                                    </div>
                                    <div class="testi-author">
                                        <div class="author-image">
                                            <img class="img-responsive" src="{% static 'app_store/assets/images/testimonial/1.png' %}" alt="">
                                        </div>
                                        <div class="author-name">
                                            <h4 class="name">Chị Hoa<span>Khách hàng</span></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testi-inner">
                                    <div class="testi-content">
                                        <p>Giá cả ưu đãi, rất nhiều mã khuyến mãi. Tôi rất thích mua hàng ở đây.
                                        </p>
                                    </div>
                                    <div class="testi-author">
                                        <div class="author-image">
                                            <img class="img-responsive" src="{% static 'app_store/assets/images/testimonial/1.png' %}" alt="">
                                        </div>
                                        <div class="author-name">
                                            <h4 class="name">Anh Hùng<span>Khách hàng</span></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testi-inner">
                                    <div class="testi-content">
                                        <p>Rất tốt.
                                        </p>
                                    </div>
                                    <div class="testi-author">
                                        <div class="author-image">
                                            <img class="img-responsive" src="{% static 'app_store/assets/images/testimonial/1.png' %}" alt="">
                                        </div>
                                        <div class="author-name">
                                            <h4 class="name">Cô Trang<span>Khách hàng</span></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-buttons">
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial area end-->
{%endblock %}