
       {%extends 'app_store/_Base.html' %}
       {% load static %}
       {% load humanize %}
       {% block title_tab %}Trang chủ{% endblock %}
       {%block main_content %}
       <!-- Hero/Intro Slider Start -->
            <div class="section ">
                <div class="hero-slider swiper-container slider-nav-style-1 slider-dot-style-1">
                    <!-- Hero slider Active -->
                    <div class="swiper-wrapper">
                        <!-- Single slider item -->
                        <div class="hero-slide-item slider-height-2 swiper-slide bg-color1" data-bg-image="{% static 'app_store/assets/images/hero/bg/hero-bg-2-1.webp' %}">
                            <div class="container h-100">
                                <div class="row h-100 flex-row-reverse">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 align-self-center sm-center-view">
                                        <div class="hero-slide-content hero-slide-content-2 slider-animated-1">
                                            <h2 class="title-1">Thời trang <br>
                                            phong cách </h2>
                                            <a href="{% url 'app_store:cua_hang' %}" class="btn btn-primary text-capitalize">Mua sắm</a>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center position-relative align-items-center">
                                        <div class="show-case">
                                            <div class="hero-slide-image slider-2">
                                                <img src="{% static 'app_store/assets/images/hero/inner-img/hero-2-1.png' %}" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single slider item -->
                        <div class="hero-slide-item slider-height-2 swiper-slide bg-color1" data-bg-image="{% static 'app_store/assets/images/hero/bg/hero-bg-2-1.webp' %}">
                            <div class="container h-100">
                                <div class="row h-100 flex-row-reverse">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 align-self-center sm-center-view">
                                        <div class="hero-slide-content hero-slide-content-2 slider-animated-1">
                                            <h2 class="title-1">Thời trang <br>
                                            phong cách </h2>
                                            <a href="{% url 'app_store:cua_hang' %}" class="btn btn-primary text-capitalize">Mua sắm</a>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center position-relative align-items-center">
                                        <div class="show-case">
                                            <div class="hero-slide-image slider-2">
                                                <img src="{% static 'app_store/assets/images/hero/inner-img/hero-2-1.png' %}" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination swiper-pagination-white"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-buttons">
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
            <!-- Hero/Intro Slider End -->
            <!-- Product Area Start -->
            <div class="product-area pt-100px">
                <div class="container">
                    <!-- Section Title & Tab Start -->
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title text-center">
                                <h2 class="title">Sản phẩm của chúng tôi</h2>
                            </div>
                        </div>
                    </div>
                    <!-- Section Title & Tab End -->
                    <div class="row">
                        <div class="col">
                            <div class="row mb-n-30px">
                                {% for san_pham in danh_sach_san_pham_pager %}
                                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px">
                                        <!-- Single Prodect -->
                                        <div class="product">
                                            <span class="badges">
                                                <span class="new">Mới</span>
                                            </span>
                                            <div class="thumb">
                                                <a href="{% url 'app_store:chi_tiet_san_pham' san_pham.id %}" class="image">
                                                    <img src="{{san_pham.hinhsanpham_set.all.0}}" alt="{{product}}" />
                                                    <img class="hover-image" src="{{san_pham.hinhsanpham_set.all.0}}" alt="{{product}}" />
                                                </a>
                                            </div>
                                            <div class="content">
                                                <span class="category"><a href="#">{{san_pham.danh_muc}}</a></span>
                                                <h5 class="title">
                                                    <a href="{% url 'app_store:chi_tiet_san_pham' san_pham.id %}">
                                                        {{ san_pham.ten_san_pham }}
                                                    </a>
                                                </h5>
                                                <span class="price">
                                                    <span class="new">{{san_pham.gia_ban|intcomma}}</span>
                                                </span>
                                            </div>
<!--                                            <div class="actions">-->
<!--                                                <button class="action quickview" data-link-action="quickview"-->
<!--                                                        title="Xem sản phẩm" data-bs-toggle="modal"-->
<!--                                                        data-bs-target="#exampleModal"><i class="pe-7s-look"></i>-->
<!--                                                </button>-->
<!--                                            </div>-->
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <!-- Pagination -->
                    {% if is_paginated %}
                    <div class="pro-pagination-style text-center text-lg-end" data-aos="fade-up" data-aos-delay="200">
                        <div class="pages">
                            {% if page_obj.has_previous %}
                            <a class="page-link" href="?page={{ page_obj.previous_page_number}}"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                            {% endif %}
                            <a href="?page={{ page_obj.number }}"
                               class="item-pagination flex-c-m trans-0-4 active-pagination">{{page_obj.number}}</a>


                            {% if page_obj.has_next %}
                            <a class="page-link" href="?page={{ page_obj.next_page_number}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    <!--  Pagination Area End -->

                </div>
            </div>
            <!-- Product Area End -->


            <!-- Feature Area Srart -->
            <div class="feature-area pt-100px pb-100px">
                <div class="container">
                    <div class="feature-wrapper">
                        <div class="single-feture-col mb-md-30px mb-lm-30px">
                            <!-- single item -->
                            <div class="single-feature">
                                <div class="feature-icon">
                                    <img src="{% static 'app_store/assets/images/icons/1.png' %}" alt="">
                                </div>
                                <div class="feature-content">
                                    <h4 class="title">Miễn phí giao hàng</h4>
                                    <span class="sub-title">Tối đa $39 cho mỗi đơn hàng</span>
                                </div>
                            </div>
                        </div>
                        <!-- single item -->
                        <div class="single-feture-col mb-md-30px mb-lm-30px">
                            <div class="single-feature">
                                <div class="feature-icon">
                                    <img src="{% static 'app_store/assets/images/icons/2.png' %}" alt="">
                                </div>
                                <div class="feature-content">
                                    <h4 class="title">Thanh toán bằng thẻ</h4>
                                    <span class="sub-title">Trả góp trong vòng 12 tháng</span>
                                </div>
                            </div>
                        </div>
                        <!-- single item -->
                        <div class="single-feture-col">
                            <div class="single-feature">
                                <div class="feature-icon">
                                    <img src="{% static 'app_store/assets/images/icons/3.png' %}" alt="">
                                </div>
                                <div class="feature-content">
                                    <h4 class="title">Trả hàng dễ dàng</h4>
                                    <span class="sub-title">Mua sắm không giới hạn</span>
                                </div>
                            </div>
                            <!-- single item -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Feature Area End -->
        {%endblock%}